body {
  padding-top: 50px;
  font-size: 1.8rem;
  // font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Varela Round', sans-serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
