<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a data-ui-sref="home">Home</a></li>
      <li><a data-ui-sref="resume">Resume</a>
      </li>
    </ol>
  </div>
</div>



<div class="row download">
  <div class="center-block text-center">
    <p>
      Please <strong>  <a href="/resume-yueyueqin.pdf" target="_blank">Download The PDF Version</a></strong> for your reference. Thank you!
    </p>
  </div>
</div>


<!-- <div class="row load">
  <div class="center-block text-center">
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw margin-bottom"></i>
    <p>
      More About Me Will Come Soon
    </p>
  </div>
</div> -->
